# 忽略20newsgroups数据集
draft_v0_20240504/第16章 概率图模型/章节习题解答/20newsgroups/

# 忽略Mnist数据集
draft_v0_20240504/第18章 自动编码器/dataset.zip
draft_v0_20240504/第18章 自动编码器/mnist_train.csv
draft_v0_20240504/第18章 自动编码器/mnist_test.csv

